{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="suhail vs">
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>

<body>
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
              <span class="fs-4" style="margin-left: 10px;">Home (New prompt)</span>
            </a>
          </div>
        </header>
        {% block body %}  
        {% endblock %}
        <footer class="pt-4 mt-4 border-top text-center text-muted small">
          Source code: <a href="https://github.com/suhailvs/stellar_hackaton2" target="_blank" rel="noopener noreferrer">GitHub</a> |
          Video: <a href="https://www.youtube.com/watch?v=dac5htyIEk8" target="_blank" rel="noopener noreferrer">Youtube</a> |
        </footer>
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>

</html>
